.pagination{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5rem;
    font-size:1.2rem;
    gap:5px;
    margin-top: 30px;
}
.pagination .page-num{
    padding:1px 10px;
    cursor:pointer;
    border-radius:3px;
    font-weight:400;
}
.pagination .page-num:hover{
    background-color:#5AB1BB;
    color:#fff;
}
.pagination .active{
    background-color:#5AB1BB;
}